.title {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 80%;
}
.title span {
  font-size: 1em;
}

.title h1 {
  font-size: 30px;
  font-weight: bold;
}
.productInfo {
  align-items: center;
  align-content: center;
}
.productInfo p {
  font-size: large;
  font-weight: bold;
}
.itemDesc {
  font-size:1.5em;
}
.product {
  display:flex;
  flex-direction: row;
  align-items:center;
}
.products {
  height: 13rem;
}
.products img{
  height: 8rem;
  width: auto;
  margin-bottom: 3rem;
  margin-right: 3rem;
}
.products input {
  width:3em;
  text-align: center;
}

#loginForm input{
  width: 15rem;
}

#loginForm {
  width: 50%;
}
#loginForm .btn {
  width: 8rem;
}